@page "/RouteParameter/{Text}"

<h3>RouteParameters</h3>

@code {
    [Parameter]
    public string? Text { get; set; }
}

//Constraints
@* @page "/RouteParameter/{Id:int?}"

<h3>RouteParameters</h3>
<p>@Id</p>

@code {
    [Parameter]
    public int? Id { get; set; }
} *@

